@import "tailwindcss";

@theme {
  --font-sans: 'Geist', 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-headings: 'Plus Jakarta Sans', system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --container-7xl: 1440px;

  --color-brand-50: #eefbf9;
  --color-brand-100: #d5f5f0;
  --color-brand-200: #afeae2;
  --color-brand-300: #79d8ce;
  --color-brand-400: #4bc1b5;
  --color-brand-500: #2aa69a;
  --color-brand-600: #19887f;
  --color-brand-700: #166d67;
  --color-brand-800: #155752;
  --color-brand-900: #144943;
  --color-brand-950: #092c29;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
    letter-spacing: -0.015em;
  }

  .font-mono {
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  input[type="checkbox"] {
    accent-color: var(--color-brand-600);
  }
}